<nav class="navbar d-flex navbar-light">
  <div class="container-fluid">
      <a class="navbar-brand fs-3 logo" routerLink="/home"><Span class="fw-bold" style="color: red;">W</Span>e<span class="fw-bold" style="color: red;">W</span>atch</a>
      <ul class="navbar-nav  d-flex flex-row">
        <li class="nav-item px-3 home">
          <a class="nav-link" routerLinkActive="active" routerLink="/home">Home</a>
        </li>
        <li class="nav-item px-3 search">
          <a class="nav-link" routerLinkActive="active" routerLink="/search">Search</a>
        </li>
      </ul>
  </div>
</nav>
